#navbar {
  color: #fff;
  background-color: rgb(0,0,0) ;
  margin-top:0;
  margin-bottom: 0;
  border-radius: 0;
  border: none;

}
#navbar a {
  color: #ffffff;
}
#navbar a.active {
  background-color: #fff;
  color: #000 !important;
}
#navbar a:hover {
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  color: #8A8A8A;
}
#navbar a:not(:hover) {
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  color: #ffffff;
}
.header-img {
  height: 400px;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url(../app/img/bg-header.jpg);
}
.form-search.content-search {
  width: 60%;
  margin: 0 auto !important;
  position: relative;
  top: -200px;
}
.region.region-content {
  width: 70%;
  margin: 0 auto;
}
h1.page-header {
  padding: 25px;
  text-align: center;
}
form#search-block-form {
  margin: none;
}
tr {
  height: 110px;
}
tr  td.views-field {
  vertical-align: middle !important;
}
.easy-log-in {
  margin-top:90px;
}